@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('./fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./fonts/roboto-v32-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('./fonts/roboto-v32-latin-700.woff2') format('woff2');
}

:root {
  /* primary */
  --primary-white: #ffffff;
  --primary-blue: #2b7fff;
  --primary-dark-blue: #011c44;
  /* secondary */
  --secondary-brown: #4a4a4a;
  --secondary-brown-light: #747272;
  --secondary-blue: #011f4a;
  --secondary-yellow: #ffd02b;
}

/*  */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary-dark-blue);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  background-image: url('./images/background-blue.png');
  background-position: center 1400px;
  background-repeat: no-repeat;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* global classes */

.button {
  color: var(--primary-white);
  background-color: var(--primary-blue);
  border-radius: 32px;
  border: 2px solid transparent;
  padding: 16px 32px;
  cursor: pointer;
  transition: background-color 0.1s linear;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.15;
}

.button:hover {
  color: var(--primary-dark-blue);
  background-color: transparent;
  border: 2px solid var(--primary-blue);
}

.section-title {
  color: var(--primary-dark-blue);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  line-height: 1.15;
  margin-bottom: 48px;
  text-align: center;
}

.brand-accent {
  color: var(--primary-blue);
}

.link {
  color: var(--primary-dark-blue);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  transition: color 0.3s;
}

.link:hover {
  color: var(--primary-blue);
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.container-compact {
  padding: 0 90px;
}

.section {
  padding: 48px 0;
}
/* nav  */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  backdrop-filter: blur(10px);
  background: #ffffff40;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 32px 0;
}

.nav-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.nav-socials {
  display: flex;
  gap: 32px;
}

.nav-social-icon {
  width: 32px;
  height: 32px;
  fill: var(--primary-dark-blue);
}

/* home  */

.home-wrapper {
  padding: 190px 0 0 0;
  background-image: linear-gradient(
      89.38deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url('./images/bg-banner-top-home.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.container-home {
  margin-left: 106px;
}

.hero-intro {
  margin: 0;
}

.hero-title {
  color: var(--primary-blue);
  font-size: 140px;
  font-weight: 700;
  margin-bottom: 40px;
}

.hero-button-container {
  max-width: 35%;
}

.hero-button-text {
  margin-top: 14px;
}

/* about us */

.about-us-section .text {
  font-size: 22px;
  line-height: 1.7;
}

.about-us-section .text:first-of-type {
  margin-bottom: 40px;
}

.about-us-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
  position: relative;
}

.about-us-content {
  margin-top: 40px;
  flex-basis: calc(calc(100% - 32px) - 40%);
}

.section-title-about-us {
  text-align: start;
}

.about-us-images {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-shrink: 0;
  flex-basis: calc(calc(100% - 32px) - 60%);
}

.about-us-images > img {
  width: 320px;
  height: 320px;
}

.about-us-images > img:nth-child(2) {
  align-self: flex-end;
}

.star-icon {
  position: absolute;
}

.star-icon.large {
  right: 300px;
  bottom: 270px;
  width: 64px;
  height: 64px;
  fill: var(--secondary-blue);
  transform: rotate(30deg);
}

.star-icon.mid {
  right: -26px;
  top: 32px;
  width: 40px;
  height: 40px;
  fill: var(--primary-blue);
}

.star-icon.small {
  right: 6px;
  top: 270px;
  width: 16px;
  height: 16px;
  fill: var(--secondary-brown-light);
  transform: rotate(30deg);
}

/* why us */

.why-us-section {
  position: relative;
  padding-top: 176px;
}

.why-us-section .text {
  font-size: 18px;
  line-height: 1.3;
}

.benefits {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
}

.benefits-item {
  flex-basis: calc(calc(100% - 112px) / 3);
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px #a8c6f561;
  transition: transform 0.2s;
}

.benefits-item:hover {
  transform: scale(1.05);
}

.benefits-item .text {
  text-align: center;
}

.benefit-icon {
  width: 48px;
  height: 48px;
  fill: var(--primary-blue);
}

/* products */

.products-section .text {
  font-size: 22px;
  line-height: 1.2;
  color: var(--primary-white);
  position: absolute;
}

.products-carousel {
  display: flex;
  align-items: center;
  gap: 32px;
}

.products-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.product-wrapper {
  flex-basis: calc((100% - 32px) / 3);
}

.product {
  position: relative;
  border-radius: 4px 120px 4px 120px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
}

.product::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
  pointer-events: none;
  z-index: 0;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 4px 120px 4px 120px;
}

.product-text {
  z-index: 1;
  margin: 0 77px 32px 115px;
}

.carousel-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid var(--primary-dark-blue);
  cursor: pointer;
  background-color: transparent;
  fill: var(--primary-dark-blue);
}

.carousel-button:hover {
  border: 1px solid var(--primary-white);
  background-color: var(--primary-blue);
  fill: var(--primary-white);
}
/* contact */

.contact-section {
  padding-bottom: 96px;
}

.contact-wrapper {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.map {
  border-radius: 32px;
  border: 0;
  max-width: 600px;
}

/* footer */

.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--primary-dark-blue);
  background-image: url('./images/footer-background.png');
  background-size: cover;
}

.footer::after {
  position: absolute;
  content: '';
  width: 246px;
  height: 152px;
  bottom: 0;
  right: 0;
  background-image: url('./images/medliquid.png');
  background-repeat: no-repeat;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.footer-wrapper > * {
  flex-basis: calc(25% - 2px);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-social-list {
  display: flex;
  gap: 24px;
}

.footer-social {
  fill: var(--primary-white);
}

.footer-link {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
}

.copyright {
  color: var(--secondary-brown-light);
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #747272e0;
  z-index: 2;
  padding: 20px 20px;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 880px;
  max-height: 880px;
  border-radius: 32px;
  padding: 42px 144px;
  background-color: var(--primary-dark-blue);
  background-image: url('./images/footer-background.png');
  background-size: cover;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  right: 42px;
  top: 42px;
  background-color: transparent;
  padding: 8px;
  outline: none;
  border: 0;
  cursor: pointer;
}

.modal-icon-close {
  fill: var(--primary-white);
}

/* Form */

.modal-form-title {
  color: var(--primary-white);
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 64px;
}

.form-sub-title {
  color: var(--primary-white);
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  margin: 0 18px 32px 18px;
}

.form-field {
  margin-bottom: 24px;
}

/* From - contact section */

.contact-form-container {
  padding: 48px 56px;
  border-radius: 32px;
  background-color: var(--primary-dark-blue);
  background-image: url('./images/footer-background.png');
  background-size: cover;
}

.form-input {
  width: 100%;
  padding: 18px 32px;
  color: var(--primary-white);
  background-color: transparent;
  border: 2px solid var(--secondary-brown-light);
  border-radius: 32px;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15;
}

.form-input:focus {
  outline: 0;
  background-color: var(--secondary-brown-light);
}

.form-input::placeholder {
  color: var(--primary-white);
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15;
}

.form-button {
  width: calc(100% - 32px);
  display: block;
  margin: 0 16px;
  margin-bottom: 8px;
}

.form-button:hover {
  background-color: var(--primary-white);
}

.form-text {
  color: var(--primary-white);
  text-align: center;
}

.form-privacy-policy-text {
  text-align: center;
  color: var(--secondary-brown-light);
  font-size: 12px;
  line-height: 1.5;
}

.form-privacy-policy-link {
  color: var(--secondary-brown-light);
}
