.button {
  color: var(--primary-white);
  background-color: var(--primary-blue);
  border-radius: 32px;
  border: 2px solid transparent;
  padding: 16px 32px;
  cursor: pointer;
  transition: background-color 0.1s linear;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.15;
}

.button:hover {
  color: var(--primary-dark-blue);
  background-color: transparent;
  border: 2px solid var(--primary-blue);
}
