:root {
  /* primary */
  --primary-white: #ffffff;
  --primary-blue: #2b7fff;
  --primary-dark-blue: #011c44;
  /* secondary */
  --secondary-brown: #4a4a4a;
  --secondary-brown-light: #747272;
  --secondary-blue: #011f4a;
  --secondary-yellow: #ffd02b;
}
