.hero-section {
  &__wrapper {
    padding: 190px 0 0 0;
    background-image: linear-gradient(
        89.38deg,
        #ffffff 30.62%,
        rgba(255, 255, 255, 0.850898) 41.31%,
        rgba(255, 255, 255, 0.193204) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url('../images/bg-banner-top-home.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  &__container {
    @media screen and (min-width: $bp-desktop) {
      margin-left: 106px;
    }
  }

  &__intro {
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    @media screen and (min-width: $bp-desktop) {
      text-align: start;
      font-size: 18px;
      line-height: 1.2;
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1.2;
    font-size: 54px;
    text-align: center;
    margin-bottom: 32px;
    @media screen and (min-width: $bp-desktop) {
      text-align: start;
      font-size: 140px;
      margin-bottom: 40px;
    }
    &__break {
      display: none;
      @media screen and (min-width: $bp-desktop) {
        display: block;
      }
    }
  }

  &__button {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      max-width: 35%;
      margin: 0 auto;
      @media screen and (min-width: $bp-desktop) {
        margin: 0;
        align-items: flex-start;
      }
    }
    &__text {
      color: var(--secondary-brown);
      text-align: center;
      @media screen and (min-width: $bp-desktop) {
        margin-top: 14px;
        text-align: start;
      }
    }
  }
}
