.hero-section {
  &__wrapper {
    padding: 190px 0 0 0;
    background-image: linear-gradient(
        89.38deg,
        #ffffff 30.62%,
        rgba(255, 255, 255, 0.850898) 41.31%,
        rgba(255, 255, 255, 0.193204) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url('../images/bg-banner-top-home.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  &__container {
    margin-left: 106px;
  }

  &__intro {
    margin: 0;
  }

  &__title {
    font-size: 140px;
    margin-bottom: 40px;
  }

  &__button {
    &__container {
      max-width: 35%;
    }
    &__text {
      margin-top: 14px;
    }
  }
}
