.products-section {
  position: relative;
  &__carousel {
    display: flex;
    align-items: center;
    gap: 32px;
    &__button {
      display: none;
      @media screen and (min-width: $bp-tablet) {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        padding: 0;
        border: 1px solid var(--primary-dark-blue);
        cursor: pointer;
        background-color: transparent;
        fill: var(--primary-dark-blue);
        &:hover {
          border: 1px solid var(--primary-white);
          background-color: var(--primary-blue);
          fill: var(--primary-white);
        }
      }
    }
    &__product {
      position: relative;
      border-radius: 4px 120px 4px 120px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      justify-content: stretch;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180.05deg,
          rgba(1, 28, 68, 0) 48.53%,
          rgba(1, 28, 68, 0.725825) 84.61%,
          #011c44 101.39%
        );
        pointer-events: none;
        z-index: -1;
      }
      &__text {
        line-height: 1.2;
        color: var(--primary-white);
        position: absolute;
        z-index: 0;
        margin: 0 77px 32px 115px;
        @media screen and (min-width: $bp-desktop) {
          font-size: 22px;
        }
      }
      &__image {
        width: 100%;
        height: 100%;
        border-radius: 4px 120px 4px 120px;
        z-index: -2;
      }
    }
    &__pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 16px;
      @media screen and (min-width: $bp-desktop) {
        margin-top: 32px;
      }
    }
  }
  &__container {
    overflow: hidden;
  }
}
