.products-section .text {
  font-size: 22px;
  line-height: 1.2;
  color: var(--primary-white);
  position: absolute;
}

.products-carousel {
  display: flex;
  align-items: center;
  gap: 32px;
}

.products-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.product-wrapper {
  flex-basis: calc((100% - 32px) / 3);
}

.product {
  position: relative;
  border-radius: 4px 120px 4px 120px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  transition: transform 0.2s linear;
}

.product:hover {
  transform: scale(1.05);
}

.product::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
  pointer-events: none;
  z-index: -1;
}

.product-image {
  width: 100%;
  height: 100%;
  border-radius: 4px 120px 4px 120px;
  z-index: -2;
}

.product-text {
  z-index: 0;
  margin: 0 77px 32px 115px;
}

.carousel-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0;
  border: 1px solid var(--primary-dark-blue);
  cursor: pointer;
  background-color: transparent;
  fill: var(--primary-dark-blue);
}

.carousel-button:hover {
  border: 1px solid var(--primary-white);
  background-color: var(--primary-blue);
  fill: var(--primary-white);
}
