.why-us-section {
  position: relative;
  padding-top: 104px;
  background: url('../images/background-blue.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @media screen and (min-width: $bp-desktop) {
    padding-top: 176px;
  }
  &__benefits {
    display: flex;

    gap: 16px;
    flex-direction: column;
    @media screen and (min-width: $bp-desktop) {
      gap: 56px;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &__item {
      background-color: var(--primary-white);
      padding: 24px 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 32px;
      box-shadow: 0px 4px 4px 0px #a8c6f561;
      @media screen and (min-width: $bp-desktop) {
        flex-basis: calc(calc(100% - 112px) / 3);
        gap: 8px;
      }
      &__icon {
        width: 48px;
        height: 48px;
        fill: var(--primary-blue);
      }
      &__text {
        font-size: 18px;
        line-height: 1.3;
      }
    }
  }
}
