.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--primary-dark-blue);
  background-image: url('../images/footer-background.png');
  background-size: cover;
  &::after {
    position: absolute;
    content: '';
    width: 246px;
    height: 152px;
    bottom: 0;
    right: 0;
    background-image: url('../images/medliquid.png');
    background-repeat: no-repeat;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  &__wrpcolumn {
    flex-basis: calc(25% - 2px);
    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      &__address {
        font-style: normal;
        &__list {
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
      &__social {
        display: flex;
        gap: 24px;
        &__icon {
          fill: var(--primary-white);
        }
      }
    }
  }
  &__link {
    color: var(--primary-white);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2;
  }
}
