.form {
  &__title {
    color: var(--primary-white);
    margin-bottom: 40px;
    font-size: 64px;
  }
  &__sub-title {
    color: var(--primary-white);
    font-size: 22px;
    line-height: 1.2;
    margin: 0 18px 32px 18px;
  }
  &__field {
    margin-bottom: 24px;
  }
  &__button {
    width: calc(100% - 32px);
    display: block;
    margin: 0 16px;
    margin-bottom: 8px;
    &:hover {
      background-color: var(--primary-white);
    }
  }
}
