.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
  backdrop-filter: blur(10px);
  background: #ffffff40;
  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 32px 0;

    &__menu {
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
    &__socials {
      display: flex;
      gap: 32px;
      &__icon {
        width: 32px;
        height: 32px;
        fill: var(--primary-dark-blue);
      }
    }
  }
}
