.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #747272e0;
  padding: 20px 20px;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 880px;
  max-height: 880px;
  border-radius: 32px;
  padding: 42px 144px;
  background-color: var(--primary-dark-blue);
  background-image: url('../images/footer-background.png');
  background-size: cover;
  overflow-y: auto;
  &__btn-close {
    position: absolute;
    right: 42px;
    top: 42px;
    background-color: transparent;
    padding: 8px;
    outline: none;
    border: 0;
    cursor: pointer;
    fill: var(--primary-white);
  }
}
