html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary-dark-blue);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  background-image: url('../images/background-blue.png');
  background-position: center 1400px;
  background-repeat: no-repeat;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
